@if (Game == null)
{
    <h3>Loading....</h3>
}
else
{
    <a class="text-decoration-none" href="@Game.URLGame">
        <RadzenCard Variant="@variant" Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <RadzenImage Path="@Game.URLLogo" Style="width: 100px; height: 100px; border-radius: 50%;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name of the game</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(Game.Name)</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Relese date</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@Game.ReleseDate.ToString("dd.MM.yyyy")</b></RadzenText>
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
    </a>
}


@code {

    [Parameter] public Game Game { get; set; }

    Variant variant = Variant.Filled;
}
